body {
    margin: 0;
    padding: 0;
}

a {
	color: navy;
}

a:visited{
	color: navy;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

/*ClassÅiéwÅj*/
.yubi {
  cursor : pointer;
}


#info01 {
	padding: 6px 8px;
	font: 10px/12px Arial, Helvetica, sans-serif;
	color: navy;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	width: fit-content;
	position: relative;
	top: 10px;
	left: 10px;
	z-index: 10;
}

.drone {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 50px;
	height: 50px;
	z-index: 10;
}


.maplibregl-popup .maplibregl-popup-content{
	padding: 8px 10px;
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: black;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
	border-radius: 5px;
	width: fit-content;
}

.maplibregl-ctrl-geocoder {
	font-size: 12px;
	line-height: 12px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	position: relative;
	background-color: #fff;
	width: 80%;
	min-width: 100px;
	z-index: 1;
	border-radius: 5px;
	transition: width 0.25s, min-width 0.25s;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.maplibregl-ctrl-geocoder .suggestions {
    font-size: 10px;
  }

